[submodule "rules/koodous/Yara-Ruleset"]
	path = rules/koodous/Yara-Ruleset
	url = git@github.com:Koodous/Yara-Ruleset.git
[submodule "rules/securitykitten/public_yara_rule"]
	path = rules/securitykitten/public_yara_rule
	url = git@github.com:securitykitten/public_yara_rules.git
[submodule "rules/naxonez/yaraRules"]
	path = rules/naxonez/yaraRules
	url = git@github.com:naxonez/yaraRules.git
[submodule "rules/zerklabs/yarasigs"]
	path = rules/zerklabs/yarasigs
	url = git@github.com:zerklabs/yarasigs.git
[submodule "rules/jaimeblasco/AlienvaultLabs"]
	path = rules/jaimeblasco/AlienvaultLabs
	url = git@github.com:jaimeblasco/AlienvaultLabs.git
[submodule "rules/nyx0/yara4m"]
	path = rules/nyx0/yara4m
	url = git@github.com:nyx0/yar4m.git
[submodule "docker-yara"]
	path = docker-yara
	url = git@github.com:blacktop/docker-yara.git
[submodule "rules/citizenlab/malware-signature"]
	path = rules/citizenlab/malware-signature
	url = git@github.com:citizenlab/malware-signatures.git
[submodule "rules/x64dbg/yarasigs"]
	path = rules/x64dbg/yarasigs
	url = git@github.com:x64dbg/yarasigs.git
[submodule "rules/jvoisin/yara_rules"]
	path = rules/jvoisin/yara_rules
	url = git@github.com:jvoisin/yara_rules.git
[submodule "rules/0day1day/yarasigs"]
	path = rules/0day1day/yarasigs
	url = git@github.com:0day1day/yarasigs.git
[submodule "rules/phbiohazard/Yara"]
	path = rules/phbiohazard/Yara
	url = git@github.com:phbiohazard/Yara.git
[submodule "rules/Phoul/yara_rules"]
	path = rules/Phoul/yara_rules
	url = git@github.com:Phoul/yara_rules.git
[submodule "rules/jipegit/yara-rules-public"]
	path = rules/jipegit/yara-rules-public
	url = git@github.com:jipegit/yara-rules-public.git
[submodule "tools/7h3rAm/yara-rules-handler"]
	path = tools/7h3rAm/yara-rules-handler
	url = git@github.com:7h3rAm/yara-rules-handler.git
[submodule "tools/ZSShen/BinaryCluster-YaraGenerator"]
	path = tools/ZSShen/BinaryCluster-YaraGenerator
	url = git@github.com:ZSShen/BinaryCluster-YaraGenerator.git
[submodule "rules/pveutin/YaraRules"]
	path = rules/pveutin/YaraRules
	url = git@github.com:pveutin/YaraRules.git
[submodule "rules/mjruffin/malware_signatures"]
	path = rules/mjruffin/malware_signatures
	url = git@github.com:mjruffin/malware_signatures.git
[submodule "rules/adamburt/Yara-sigs"]
	path = rules/adamburt/Yara-sigs
	url = git@github.com:adamburt/Yara-sigs.git
[submodule "rules/abhinavbom/Yara-Rules"]
	path = rules/abhinavbom/Yara-Rules
	url = git@github.com:abhinavbom/Yara-Rules.git
